/* styles.css */
header {
    position: sticky;
    top: 0;
    color: #fff;
    background-color: #333;
    padding: 20px;
    text-align: center;
    margin: 3px;
}


header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.recipe {
    text-align: center;
}

.recipe img {
    width: 300px;
    height: 300px;
}

.recipe a {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
}
.recipe a:hover{
    text-decoration: underline;

}


#ingredients-list {
    list-style-type: none;
    padding: 0;
}

#ingredients-list li {
    margin-bottom: 5px;
}

#reviews-list {
    list-style-type: none;
    padding: 0;
}

#reviews-list li {
    margin-bottom: 10px;
}
/* styles.css */

/* styles.css */
/* styles.css */

footer {
    position: sticky;
    bottom: 0;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    margin: 5px;
    list-style-type: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
.content .social-icons:hover{
    transform: scale(1.8);
}
.content{
    list-style-type: none;
}

/* styles.css */
@media  screen and (max-width: 740px) {
    header{
        background-color: chartreuse;
    }
    h1 {
        text-align: center;
    }

     ul {
        text-align:left;
    }
}
