
.recipe-details {
    display: flex;
    align-items: center;
}

.recipe-image img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.home {
    text-decoration: none;
    list-style-type: none;
}
.btn{
    background-color:greenyellow;
    color: var(--backColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid red;
    color: #00bd03;
}
.btn1{
    background-color:rgb(202, 54, 9);
    color: var(--backColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn1:hover{
    background-color: transparent;
    border: 2px solid rgb(152, 131, 131);
    color: #067d08;
}

.recipe-description {
    flex: 1;
}
#review-input{
    background-color: aliceblue;
}
#servings{
    background-color: aliceblue;
}

.recipe-description h2, .recipe-description h3 {
    margin-top: 0;
}
/* move imge */

.recipe-images {
    position: relative;
    width: 50%;
    height: 300px;
  }
  
  .recipe-images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade 10s infinite;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
@media screen and (max-width: 1008px) {
    *{
        background-color: aqua;
    }
    h1{
        color: blanchedalmond;
    }
    .recipe-details {
        flex-direction: column;
        
    }

    .recipe-image img {
        display: none;
    }
    .recipe-images img {
        display: none;
    }

    .recipe-description {
        margin-top: 20px;
    }
    .recipe-images {
        display: none;
      }
      h1 {
        text-align: center;
    }

     ul {
        text-align:left;
    }
   
      
}
@media screen and (max-width: 814px) {
    *{
        background-color: rgb(174, 0, 255);
    }
    h1{
        color: rgb(255, 205, 205);
    }
    .recipe-details {
        flex-direction: column;
        
    }

    .recipe-image img {
        display: none;
    }
    .recipe-images img {
        display: none;
    }

    .recipe-description {
        margin-top: 20px;
    }
    .recipe-images {
        display: none;
      }
      h1 {
        text-align: center;
    }

     ul {
        text-align:right;
    }
  

}

     ul {
        text-align:left;
    }
   
      
}
